{% extends 'base_admin.html.twig' %}

{% block title %}Performer index{% endblock %}

{% block body %}
    <h1>Performer index</h1>
    <p class="text-right">
        <a href="{{ path('performer_new') }}" role="button" class="btn btn-danger">
            <i class="fas fa-user mr-2"></i>Create new
        </a>
    </p>

    <table class="table">
        <thead>
            <tr>
                <th>Picture</th>
                <th>Name</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for performer in performers %}
            <tr>
                <td class="w-25">
                    <img src="{{ vich_uploader_asset(performer, 'pictureFile') }}"
                         class="rounded img-thumbnail" alt="" style="width:20%"/>
                </td>
                <td>{{ performer.name }}</td>
                <td>
                    <a href="{{ path('performer_edit', {'id': performer.id}) }}">
                        <i class="fas fa-edit mr-2"></i> Edit
                    </a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="3">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

{% endblock %}
