{% extends 'base_admin.html.twig' %}

{% block title %}Prices index - {{ parent() }}{% endblock %}

{% block body %}
    <h1>Prices index</h1>

    {% if pricePeriods|length == 0 or priceCategories|length == 0 %}
        <p class="alert-warning text-center py-3">To add prices, please add periods and categories before.</p>
    {% endif %}

    {% set displayAdmin = true %}
    {% include 'price/_list_prices.html.twig' %}

    {% include '/admin/price_period/_index.html.twig' %}
    {% include '/admin/price_category/_index.html.twig' %}
{% endblock %}
