<div class="row">
    {% for performer in performers %}
        <div class="col-lg-3 col-md-6 col-12">
            <div class="card border mb-3 shadow">
                <div class="card-body">
                    <h5 class="card-title text-danger">{{ performer.name }}</h5>
                    <p class="text-center mb-0">
                        <img src="{{ vich_uploader_asset(performer, 'pictureFile') }}"
                             alt="{{ performer.name }}"
                             class="rounded-circle border w-50"
                        />
                    </p>
                    <div class="card-text text-center mt-3">
                        <button type="button" class="btn" data-toggle="modal"
                                data-target="#performerModal"
                                data-performer="{{ performer.id }}" >
                            <i class="fas fa-plus-square text-danger fa-2x"></i>
                        </button>
                    </div>
                </div>
            </div>
        </div>
    {% endfor %}
</div>

{% include 'performer/_modal_performers.html.twig' %}